
{% extends 'base.html' %}

{% block content %}
<div>
	<h1>직접 아티스트 추가</h1>
	<form action="" method="POST">
		{% csrf_token %}
		<input type="text" name="name">
		<button type="submit">등록</button>
	</form>

    <hr>

    <!--
    formd이 한개 더 추가
    이 form 이 하는 일은 '멜론에서 Artist 검색 후 목록 보여주기'
       -> 목록을 보여주는 일은 artist-search-from-melon이 하는것애 유의
       -> 검색 후에는 URL이 'artist-serach-from-melon으로 이동
    -->
    <h1>멜론에서 아티스트 검색</h1>
    <form action="{% url 'artist:artist-search-from-melon' %}">
        <input type="text" name="keyword" placeholder="아티스트명">
        <button type="submit">검색</button>
    </form>
</div>
{% endblock %}